{% extends 'app/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block section_1 %}
<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_b0a0" data-image-width="1280" data-image-height="1280">
    <div class="u-absolute-hcenter u-expanded u-gradient u-opacity u-opacity-60 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-expanded-width u-gradient u-opacity u-opacity-60 u-shape u-shape-rectangle u-shape-2" ></div>
    <div  class="u-border-20 u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-1" data-animation-name="rollIn" data-animation-duration="2000" data-animation-direction="" style="color: antiquewhite;">
      <div class="u-container-layout u-container-layout-1">
        <h1 class="u-custom-font u-font-montserrat u-text u-text-custom-color-18 u-text-default u-title u-text-1">GB Merch</h1>
        <h1 class="u-custom-font u-font-merriweather u-text u-text-custom-color-3 u-text-default u-title u-text-2">Introducing<span class="u-text-custom-color-10"></span>
        </h1>
        <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-3">Designing your personalized Tee has never b​​​e​en so easy!</h3>
        <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-3">Designing your personalized Tee has never b​​​e​en so easy!</h3>
        <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-3">Designing your personalized Tee has never b​​​e​en so easy!</h3>
        <h6 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-4"> A simple solution for creating and selling products that engage<br>your fans and help you monetize your content.<br>No cost, no hassle, no risk. 
        </h6>
        <a href="https://nicepage.me" class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-1">start Shopping</a>
      </div>
    </div>
  </section> 
  {% endblock section_1 %}



  {% block section_2 %}
  <section class="u-clearfix u-valign-middle u-section-2" id="carousel_0260">
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
      <div class="u-gallery-inner u-gallery-inner-1">
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide" data-image-width="984" data-image-height="984">
            <img class="u-back-image u-expanded" src="{% static 'app/images/graphic-designer-tee-shirt-t-men.jpg' %}">
          </div>
          <div class="u-over-slide u-shading u-over-slide-1">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide" data-image-width="1001" data-image-height="1250">
            <img class="u-back-image u-expanded" src="{% static 'app/images/aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFMbGlTbWpvYUwuX0FDX1VMMTI1MF8uanBn.jpg' %}">
          </div>
          <div class="u-over-slide u-shading u-over-slide-2">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide" data-image-width="899" data-image-height="1201">
            <img class="u-back-image u-expanded" src="{% static 'app/images/attachment_87652694-e1513588202331.png' %}">
          </div>
          <div class="u-over-slide u-shading u-over-slide-3">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
        <div class="u-effect-fade u-gallery-item">
          <div class="u-back-slide" data-image-width="1480" data-image-height="833">
            <img class="u-back-image u-expanded" src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2018/06/attachment_77536106-e1528674476680.jpg?auto=format&amp;q=60&amp;w=1480&amp;h=832.5&amp;fit=crop&amp;crop=faces">
          </div>
          <div class="u-over-slide u-shading u-over-slide-4">
            <h3 class="u-gallery-heading"></h3>
            <p class="u-gallery-text"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock section_2 %}


{% block section_3 %}
<section class="u-clearfix u-white u-section-3" id="carousel_cd29">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-gradient u-group u-opacity u-opacity-50 u-radius-10 u-shape-round u-group-1">
          <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
            <div class="u-absolute-hcenter u-expanded u-gradient u-radius-10 u-shape u-shape-round u-shape-1"></div>
            <h2 class="u-custom-font u-font-raleway u-text u-text-default u-text-1" data-animation-name="rollIn" data-animation-duration="2000" data-animation-direction="">2022</h2>
          </div>
        </div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-size-37 u-layout-cell-1" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Left">
                <div class="u-container-layout u-container-layout-2">
                  <h5 class="u-custom-font u-font-raleway u-text u-text-2">Discover creators and their products</h5>
                  <p class="u-text u-text-3">Get in touch with the creators of YouTube content merchandise such as LTT, UravgConsmer and design your merchandise with their expertise..</p>
                  <a href="https://nicepage.com/k/awards-website-templates" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Discover products</a>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-shading u-size-23 u-image-1" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Right" data-image-width="900" data-image-height="900">
                <div class="u-border-9 u-border-grey-75 u-container-layout u-container-layout-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-custom-color-2 u-expanded-width u-group u-radius-10 u-shape-round u-group-2">
          <div class="u-container-layout u-container-layout-4">
            <div class="u-absolute-hcenter u-expanded u-opacity u-opacity-30 u-shape u-shape-svg u-text-black">
              <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2fa8"></use></svg>
              <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-2fa8" style="enable-background:new 0 0 160 160;"><path d="M0,153.3L153.3,0h6.7L0,160V153.3z M129.6,0h6.7L0,136.3v-6.7L129.6,0z M105.6,0h6.7L0,112.3v-6.7L105.6,0z M81.6,0h6.7
	L0,88.3v-6.7L81.6,0z M57.6,0h6.7L0,64.3v-6.7L57.6,0z M33.3,0H40L0,40v-6.7L33.3,0z M9.6,0h6.7L0,16.3V9.6L9.6,0z M18.9,160
	L160,18.9v6.7L25.6,160H18.9z M44.5,160L160,44.5v6.7L51.2,160H44.5z M70.2,160L160,70.2V77l-83,83H70.2z M95.8,160L160,95.8v6.7
	L102.6,160H95.8z M121.8,160l38.2-38.2v6.7L128.5,160H121.8z M147.4,160l12.6-12.6v6.7l-5.9,5.9L147.4,160L147.4,160z"></path></svg>
            </div>
            <h2 class="u-custom-font u-font-roboto u-subtitle u-text u-text-4">Want to create and sell your own products?<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Get <span class="u-text-custom-color-1"></span>started on GBM<br>
            </h2>
            <a href="https://nicepage.me" class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-2">Start <span style="font-size: 1.25rem;">creating</span>
            </a>
          </div>
        </div>
      </div>
    </section>
     {% endblock section_3 %}


     {% block section_4 %}
     <section class="skrollable u-clearfix u-image u-parallax u-section-4" id="carousel_d8ab" data-image-width="2250" data-image-height="1500">
        <div class="u-clearfix u-sheet u-sheet-1">
          <h1 class="u-custom-font u-font-lobster u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="rollIn" data-animation-duration="2000" data-animation-direction="">Design your own merch.<span class="u-text-custom-color-5"></span>
          </h1>
          <a href="https://nicepage.com/website-design" class="u-border-2 u-border-black u-btn u-button-style u-none u-text-black u-text-hover-white u-btn-1">Discover Products</a>
          <h6 class="u-custom-font u-font-raleway u-text u-text-default u-text-2"> youth brand</h6>
        </div>
      </section>
     {% endblock section_4 %}




     {% block section_5 %}
     <section class="u-align-center u-clearfix u-palette-2-base u-section-5" id="carousel_ad0b">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-custom-font u-font-raleway u-text u-text-1" data-animation-name="rollIn" data-animation-duration="2000" data-animation-direction="">GB<br>Athletic
                  </h1>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-26 u-image-1" data-image-width="800" data-image-height="1200" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Right">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
     {% endblock section_5 %}




<!--        <section>-->
<!--        <div class="m-3">-->
<!-- <h2>GBM Top Deals</h2>-->
 <!-- Slider 1 -->
<!-- <div class="owl-carousel" id="slider1">-->
<!--   start of for-->
<!--  <a href="" class="btn"><div class="item"><img src="{{b.product_image.url}}" alt="" height="200px"><span class="fw-bold">{{b.title}}</span><br><span class="fs-5">Rs. {{b.selling_price}}</span></div></a>-->
<!--     end of for-->
<!--  <div class="item"><img src="{% static 'app/images/c2-1.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 2</span><br><span class="fs-5">Rs. 300</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-2.png' %}" alt="" height="200px"><span class="fw-bold">Product 3</span><br><span class="fs-5">Rs. 100</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-3.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 4</span><br><span class="fs-5">Rs. 700</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-4.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 5</span><br><span class="fs-5">Rs. 500</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-5.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 6</span><br><span class="fs-5">Rs. 400</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A1.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 7</span><br><span class="fs-5">Rs. 500</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A2.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 8</span><br><span class="fs-5">Rs. 300</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A3.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 9</span><br><span class="fs-5">Rs. 600</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A4.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 10</span><br><span class="fs-5">Rs. 900</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A5.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 11</span><br><span class="fs-5">Rs. 100</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A6.png' %}" alt="" height="200px"><span class="fw-bold">Product 12</span><br><span class="fs-5">Rs. 200</span></div>-->
<!-- </div>-->
<!--</div>-->

<!--      </section>-->
<!--    <section class="skrollable u-clearfix u-image u-parallax u-shading u-section-6" id="carousel_b785" data-image-width="1200" data-image-height="750">-->
<!--      <blockquote class="u-text u-text-custom-color-18 u-text-default u-text-1">Here are some of our best desgins till date!!</blockquote>-->


<!--  <div class="item"><img src="{% static 'app/images/c2-1.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 2</span><br><span class="fs-5">Rs. 300</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-2.png' %}" alt="" height="200px"><span class="fw-bold">Product 3</span><br><span class="fs-5">Rs. 100</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-3.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 4</span><br><span class="fs-5">Rs. 700</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-4.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 5</span><br><span class="fs-5">Rs. 500</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/c2-5.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 6</span><br><span class="fs-5">Rs. 400</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A1.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 7</span><br><span class="fs-5">Rs. 500</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A2.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 8</span><br><span class="fs-5">Rs. 300</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A3.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 9</span><br><span class="fs-5">Rs. 600</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A4.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 10</span><br><span class="fs-5">Rs. 900</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A5.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 11</span><br><span class="fs-5">Rs. 100</span></div>-->
<!--  <div class="item"><img src="{% static 'app/images/A6.png' %}" alt="" height="200px"><span class="fw-bold">Product 12</span><br><span class="fs-5">Rs. 200</span></div>-->

<!--  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">-->
<!--          <div class="u-carousel u-gallery u-layout-carousel u-lightbox u-no-transition u-product-zoom u-show-text-on-hover u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-710b">-->
<!--            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">-->
<!--              <li data-u-target="#carousel-710b" data-u-slide-to="0" class="u-active u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-710b" data-u-slide-to="1" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-710b" data-u-slide-to="2" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-710b" data-u-slide-to="3" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-710b" data-u-slide-to="4" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-710b" data-u-slide-to="5" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--            </ol>-->
<!--            <div class="u-carousel-inner u-gallery-inner" role="listbox">-->
<!--              <div class="u-active u-carousel-item u-gallery-item u-shape-rectangle u-carousel-item-1">-->
<!--                <div class="u-back-slide" data-image-width="1200" data-image-height="1200">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/carousel21.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-white u-over-slide-1">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-shape-rectangle u-carousel-item-2">-->
<!--                <div class="u-back-slide" data-image-width="1600" data-image-height="800">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c2-1.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-white u-over-slide-2">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-shape-rectangle u-carousel-item-3">-->
<!--                <div class="u-back-slide" data-image-width="1200" data-image-height="1200">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c2-2.png' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-white u-over-slide-3">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-shape-rectangle u-carousel-item-4">-->
<!--                <div class="u-back-slide" data-image-width="1200" data-image-height="1500">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c2-3.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-white u-over-slide-4">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-shape-rectangle u-carousel-item-5">-->
<!--                <div class="u-back-slide" data-image-width="1000" data-image-height="1000">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c2-4.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-white u-over-slide-5">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-shape-rectangle u-carousel-item-6">-->
<!--                <div class="u-back-slide" data-image-width="2160" data-image-height="2160">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c2-5.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-white u-over-slide-6">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-710b" role="button" data-u-slide="prev">-->
<!--              <span aria-hidden="true">-->
<!--                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0-->
<!--  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744-->
<!--  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>-->
<!--              </span>-->
<!--              <span class="sr-only">-->
<!--                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0-->
<!--  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744-->
<!--  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>-->
<!--              </span>-->
<!--            </a>-->
<!--            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-710b" role="button" data-u-slide="next">-->
<!--              <span aria-hidden="true">-->
<!--                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744-->
<!--  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284-->
<!--  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>-->
<!--              </span>-->
<!--              <span class="sr-only">-->
<!--                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744-->
<!--  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284-->
<!--  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>-->
<!--              </span>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="u-carousel u-gallery u-layout-carousel u-lightbox u-no-transition u-product-zoom u-show-text-on-hover u-gallery-2" data-interval="2500" data-u-ride="carousel" id="carousel-4853">-->
<!--            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-2">-->
<!--              <li data-u-target="#carousel-4853" data-u-slide-to="0" class="u-active u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-4853" data-u-slide-to="1" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-4853" data-u-slide-to="2" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-4853" data-u-slide-to="3" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-4853" data-u-slide-to="4" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--              <li data-u-target="#carousel-4853" data-u-slide-to="5" class="u-grey-70 u-shape-rectangle" style="width: 30px; height: 3px;"></li>-->
<!--            </ol>-->
<!--            <div class="u-carousel-inner u-gallery-inner" role="listbox">-->
<!--              <div class="u-active u-carousel-item u-gallery-item u-carousel-item-7">-->
<!--                <div class="u-back-slide" data-image-width="1500" data-image-height="1500">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c3-1.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-7">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-8">-->
<!--                <div class="u-back-slide" data-image-width="872" data-image-height="873">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c3-2.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-8">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-9">-->
<!--                <div class="u-back-slide" data-image-width="600" data-image-height="310">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c3-3.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-9">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-10">-->
<!--                <div class="u-back-slide" data-image-width="1000" data-image-height="1000">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c3-4.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-10">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-11">-->
<!--                <div class="u-back-slide" data-image-width="1500" data-image-height="1500">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c3-5.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-11">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-12">-->
<!--                <div class="u-back-slide" data-image-width="1000" data-image-height="1400">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c3-6.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-12">-->
<!--                  <h3 class="u-gallery-heading">Sample Title</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Sample Text</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-3" href="#carousel-4853" role="button" data-u-slide="prev">-->
<!--              <span aria-hidden="true">-->
<!--                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0-->
<!--  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744-->
<!--  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>-->
<!--              </span>-->
<!--              <span class="sr-only">-->
<!--                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0-->
<!--  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744-->
<!--  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>-->
<!--              </span>-->
<!--            </a>-->
<!--            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-4" href="#carousel-4853" role="button" data-u-slide="next">-->
<!--              <span aria-hidden="true">-->
<!--                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744-->
<!--  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284-->
<!--  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>-->
<!--              </span>-->
<!--              <span class="sr-only">-->
<!--                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744-->
<!--  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284-->
<!--  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>-->
<!--              </span>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="owl-carousel" id="slider1">-->
<!--              <img src="{% static 'app/images/carousel1.jpg' %}" alt="" height="200px"><span class="fw-bold">Product 1</span><br><span class="fs-5">Rs. 799/</span>-->
<!--            </div> </a>-->
<!--          </div>-->



<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-14" data-href="https://www.python.org/">-->
<!--                <div class="u-back-slide" data-image-width="1920" data-image-height="1920">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c1-1.jpg' %}" alt="Bottle Set of 3">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-14">-->
<!--                  <h3 class="u-gallery-heading">Bottle Set of 3</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Rs. 1999/-</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-15" data-href="https://www.python.org/">-->
<!--                <div class="u-back-slide" data-image-width="2780" data-image-height="2779">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c1-2.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-15">-->
<!--                  <h3 class="u-gallery-heading">Flower Print Bottle</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Rs. 799/-</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-16" data-href="https://www.python.org/">-->
<!--                <div class="u-back-slide" data-image-width="1500" data-image-height="1500">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c1-3.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-16">-->
<!--                  <h3 class="u-gallery-heading">Horse Drawing</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Rx. 699/-</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              -->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-17" data-href="https://www.python.org/">-->
<!--                <div class="u-back-slide" data-image-width="1000" data-image-height="1000">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c1-4.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-17">-->
<!--                  <h3 class="u-gallery-heading">Pack of 5</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Rs. 3999/-</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-18" data-href="https://www.python.org/">-->
<!--                <div class="u-back-slide" data-image-width="3000" data-image-height="3000">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c1-5.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-18">-->
<!--                  <h3 class="u-gallery-heading">Colored Pack of 5</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Rs. 3799/-</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="u-carousel-item u-gallery-item u-carousel-item-19" data-href="https://www.python.org/">-->
<!--                <div class="u-back-slide" data-image-width="1500" data-image-height="1500">-->
<!--                  <img class="u-back-image u-expanded" src="{% static 'app/images/c1-3.jpg' %}">-->
<!--                </div>-->
<!--                <div class="u-align-center u-black u-border-2 u-border-grey-75 u-over-slide u-valign-bottom u-over-slide-16">-->
<!--                  <h3 class="u-gallery-heading">Horse Drawing</h3>-->
<!--                  <p class="u-gallery-text" style="margin-top: 0px;">Rx. 699/-</p>-->
<!--                </div>-->
<!--              </div> -->
<!--            </div>-->
<!--            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-5" href="#carousel-c68a" role="button" data-u-slide="prev">-->
<!--              <span aria-hidden="true">-->
<!--                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0-->
<!--  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744-->
<!--  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>-->
<!--              </span>-->
<!--              <span class="sr-only">-->
<!--                <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0-->
<!--  c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744-->
<!--  c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>-->
<!--              </span>-->
<!--            </a>-->
<!--            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-6" href="#carousel-c68a" role="button" data-u-slide="next">-->
<!--              <span aria-hidden="true">-->
<!--                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744-->
<!--  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284-->
<!--  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>-->
<!--              </span>-->
<!--              <span class="sr-only">-->
<!--                <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744-->
<!--  L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284-->
<!--  c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>-->
<!--              </span>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->





    {% block section_7 %}
<section class="u-clearfix u-valign-middle u-section-7" id="carousel_cdaa">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-21">
                <div class="u-layout-row">
                  <div class="u-align-center u-black u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h3 class="u-custom-font u-font-raleway u-text u-text-default u-text-1">Fashionsita</h3>
                      <div class="u-shape u-shape-svg u-text-white u-shape-1">
                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-600e"></use></svg>
                        <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-600e"><path d="M114.3,152.3l38-38C144.4,130.9,130.9,144.4,114.3,152.3z M117.1,9.1l-108,108c0.8,1.6,1.7,3.2,2.7,4.8l110-110
      C120.3,10.9,118.7,10,117.1,9.1z M97.5,2L2,97.5c0.4,2,1,4,1.5,5.9l99.9-99.9C101.5,2.9,99.5,2.4,97.5,2z M80,160c2,0,4-0.1,5.9-0.2
      l73.9-73.9c0.1-2,0.2-3.9,0.2-5.9c0-0.6,0-1.2,0-1.9L78.1,160C78.8,160,79.4,160,80,160z M34.9,146.1c1.5,1,3,2,4.6,2.9L149,39.5
      c-0.9-1.6-1.9-3.1-2.9-4.6L34.9,146.1z M132.7,19.8L19.8,132.7c1.2,1.3,2.3,2.6,3.6,3.9L136.6,23.4C135.3,22.2,134,21,132.7,19.8z
       M59.6,157.4l97.8-97.8c-0.5-1.9-1.1-3.8-1.7-5.7L53.9,155.6C55.8,156.3,57.7,156.9,59.6,157.4z M7.6,45.9L45.9,7.6
      C29.1,15.5,15.5,29.1,7.6,45.9z M80,0c-2.6,0-5.1,0.1-7.6,0.4l-72,72C0.1,74.9,0,77.4,0,80c0,0.1,0,0.2,0,0.2L80.2,0
      C80.2,0,80.1,0,80,0z"></path></svg>
                      </div>
                      <div alt="" class="u-image u-image-circle u-image-1" data-image-width="801" data-image-height="1200" data-animation-name="rollIn" data-animation-duration="2000" data-animation-direction=""></div>
                      <img class="u-image u-image-contain u-image-2" src="{% static 'app/images/829-8293847_jake-corman-signature-jake-signaturecopy.png' %}" data-image-width="1280" data-image-height="911">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-39">
                <div class="u-layout-col">
                  <div class="u-black u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <h5 class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-2">About US</h5>
                      <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-direction="Down"></div>
                      <p class="u-align-center u-custom-font u-heading-font u-text u-text-3"> When selecting your&nbsp;merchandise&nbsp;design&nbsp;contest package, think about how much time you’ll have and what experience you have writing briefs and working with&nbsp;designers. If you're still unsure, contact&nbsp;us&nbsp;for a&nbsp;design&nbsp;consultation</p>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-palette-2-base u-size-30 u-layout-cell-3" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Right">
                    <div class="u-container-layout u-container-layout-3">
                      <h2 class="u-align-center u-text u-text-default u-text-4">What do we Do?</h2>
                      <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-2" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-direction="Down"></div>
                      <p class="u-align-center u-custom-font u-heading-font u-text u-text-5"> We designers/creators hold a special place in our world. Our talent and vision play a big role in how people look, and also contribute to the cultural and social environment. We love to study fashion trends, sketch designs, select materials, and have a part in all the production aspects of their designs. We genuinely contribute to the creation of millions, if not billions of pieces of clothing and accessories purchased by consumers on a yearly basis.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
       {% endblock section_7 %}

    {% block section_11 %}
        <section class="skrollable u-clearfix u-image u-parallax u-shading u-section-6" id="carousel_b785" data-image-width="1200" data-image-height="750">
            <blockquote class="u-text u-text-custom-color-18 u-text-default u-text-1">Where are all the men @?!</blockquote>
                <div class="owl-carousel" id="slider3">
                    {% for m in menss %}
                        <a href="{% url 'product-detail' m.id %}" class="btn">
                            <div class="item">
                                <img src="{{m.product_image.url}}" alt="" height="200px">
                                <span class="" style="text-color:white">{{m.title}}</span><br><span class="fs-5">Rs. {{m.selling_price}}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
        </section>
    {% endblock section_11 %}

       {% block section_8 %}
       <section class="skrollable u-clearfix u-image u-section-8" id="carousel_bb66" data-image-width="1200" data-image-height="482">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-left-cell u-shading u-size-35-md u-size-35-sm u-size-35-xs u-size-37-lg u-size-37-xl u-image-1" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Left" data-image-width="1001" data-image-height="1001">
                <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-23-lg u-size-23-xl u-size-25-md u-size-25-sm u-size-25-xs u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
       {% endblock section_8 %}


    {% block section_10 %}
      <section class="skrollable u-clearfix u-image u-parallax u-shading u-section-6" id="carousel_b785" data-image-width="1200" data-image-height="750">
            <blockquote class="u-text u-text-custom-color-18 u-text-default u-text-1">Section for women only!!</blockquote>
                <div class="owl-carousel" id="slider1">
                    {% for w in women %}
                        <a href="{% url 'product-detail' w.id %}" class="btn">
                            <div class="item">
                                <img src="{{w.product_image.url}}" alt="" height="200px">
                                <span class="fw-bold">{{w.title}}</span><br><span class="fs-5">Rs. {{w.selling_price}}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
        </section>
    {% endblock section_10 %}
    
       {% block section_9 %}
       <section class="u-align-center u-black u-clearfix u-valign-middle u-section-9" id="carousel_5301">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-image-1">
                <div class="u-container-layout u-container-layout-1">
                  <h1 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">Shop for trending products.</h1>
                  <a href="https://nicepage.com/k/adult-website-templates" class="u-border-2 u-border-white u-btn u-button-style u-hover-black u-none u-text-custom-color-12 u-text-hover-white u-btn-1">Shop now</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-layout-cell-2" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Right">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h4 class="u-custom-font u-font-roboto u-text u-text-default u-text-2">Queries? Reach out to us.</h4>
                  <div class="u-form u-form-1">
                    <form action="#" method="POST" class="u-clearfix u-form-spacing-40 u-form-vertical u-inner-form" style="padding: 0px;" source="custom" name="form">
                      <div class="u-form-email u-form-group">
                        <label for="email-319a" class="u-label u-text-body-alt-color u-label-1">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-319a" name="email" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-address u-form-group u-form-group-2">
                        <label for="address-452f" class="u-label u-text-body-alt-color u-label-2">Address</label>
                        <input type="text" placeholder="Enter your address" id="address-452f" name="address" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-agree u-form-group u-form-group-3">
                        <input type="checkbox" id="agree-a8f8" name="agree" class="u-agree-checkbox" required="">
                        <label for="agree-a8f8" class="u-label u-text-body-alt-color u-label-3">I accept the <a href="#">Terms of Service</a>
                        </label>
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-2-base u-btn-2">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endblock section_9 %}
    
    